.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.notesArea {
  flex: 1;
  background: #dae5f5; /* placeholder until full notes area */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
